<div class="txt-example txt-size-min container">
  <div class="main-container-about">
    <div class="main-container-about-text1">
              <div class="main-container-about-img">
        <img src="Images/Marc Medrano.png" class="logo logo-round marc-logo" />
      </div>
      <div class="main-container-about-text">
        <h1>爪卂尺匚</h1>
        <p>
            I am a programmer with the goal of becoming a FullStack. I am passionate about new technologies and I love every day to achieve something new. I am currently a self-taught programmer. I love to learn and work hard to reach a goal.
        </p>
        <div class="buttnos">
          <a class="btn btn-outline-dark btn-about" target="_blank" href="https://portfolio.elmarc.xyz">Portfolio</a>
          <a class="btn btn-outline-dark btn-about" target="_blank" href="https://portfolio.elmarc.xyz/Networks.html">Networks</a>
        </div>
      </div>

    </div>
    </div>
  </div>
</div>
