<div class="txt-example">
  <h1
    class="commands-page-title row justify-content-center stats-title display-1"
  >
    STATS
  </h1>

  <div class="main-container-about-text2">
    <div class="main-container-about-text2">
      <div class="main-container-about-text-stats">
        <div class="stats">
          <div class="title">
            <h2>SERVERS</h1>
          </div>
          <img
            src="https://i.ibb.co/sttYMdm/Servers37.png"
            class="logo logo-round servers"
          />
        </div>

        <div class="stats">
          <div class="title">
            <h2>USERS</h1>
          </div>
          <img
            src="https://i.ibb.co/RCPqybg/Users100.png"
            class="logo logo-round users"
          />
        </div>

        <div class="stats">
          <div class="title">
            <h2>COMMANDS</h1>
          </div>
          <img
            src="https://i.ibb.co/SV782BP/Commands77.png"
            class="logo logo-round commands"
          />
        </div>
      </div>
    </div>
  </div>
</div>
