.main-container-first-page{
    display: flex;
    align-content: center;
    margin-top: calc(30vh - 70px);
    justify-content: center;
    height: $height;
}

.logo-round{
    border-radius: 100%;
}

.main-container-home-text{
    margin-left: 15px;
    margin-top: 25px;
    display: flex;
    height: auto;
    width: 490px;
    //justify-content: center;
    flex-direction: column;

    .btn-a{
        padding: 9px;
    }

    h1{   
        font-size: 4em
    }
}

.kyara-logo{
    border-radius: 100%;
    height: 20rem;
}