<div class="">
  <h1 class="commands-page-title row justify-content-center">ECONOMIA</h1>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          work 
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Con este comando podrás obtener dinero trabajando en diferentes profesiones
          <br />
          <b>&ltprefix&gt&ltwork&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          bal 
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Con el comando bal podrás ver todos tus ahorros y los de los demás.
          <br />
          <b>&ltprefix&gt&ltbal&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          dep 
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Con el comando dep podrás depositar una cantidad de dinero especifica
          <br />
          <b>&ltprefix&gt&ltdep&gt&ltCantidad&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading4">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse4"
          aria-expanded="false"
          aria-controls="flush-collapse4"
        >
          withdraw 
        </button>
      </h2>
      <div
        id="flush-collapse4"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading4"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Con el comando withdraw podrás retirar dinero de tu banco
          <br />
          <b>&ltprefix&gt&ltWithdraw&gtCantidad&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading5">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse5"
          aria-expanded="false"
          aria-controls="flush-collapse5"
        >
          pay 
        </button>
      </h2>
      <div
        id="flush-collapse5"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading5"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Paga una cantidad especifica a un usuario especifico.
          <br />
          <b>&ltprefix&gt&ltpay&gt&lt<a class="blue text-decoration-none">@usuario</a>&gt&ltcantidad&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading6">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse6"
          aria-expanded="false"
          aria-controls="flush-collapse6"
        >
          rob 
        </button>
      </h2>
      <div
        id="flush-collapse6"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading6"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Robale una cantidad de dinero a un usuario con el comando rob.
          <br />
          <b>&ltprefix&gt&ltrob&gt&lt<a class="blue text-decoration-none">@usuario</a>&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading7">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse7"
          aria-expanded="false"
          aria-controls="flush-collapse7"
        >
          buy 
        </button>
      </h2>
      <div
        id="flush-collapse7"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading7"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Compra criptomonedas con el comando buy, !! Las criptomonedas pueden cambiar de valor muy rapidamente
          <br />
            <b>&ltprefix&gt&ltrob&gt&lt<a class="red text-decoration-none">criptomoneda</a>&gt</b>
           <br /> 
           <br /> 
           <b><a class="red text-decoration-none">bitcoin</a>, <a class="red text-decoration-none">etherum</a>, <a class="red text-decoration-none">dogecoin</a></b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading8">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse8"
          aria-expanded="false"
          aria-controls="flush-collapse8"
        >
          sell
        </button>
      </h2>
      <div
        id="flush-collapse8"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading8"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Vende criptomonedas con el comando sell, !! Las criptomonedas pueden cambiar de valor muy rapidamente
          <br />
          <b>&ltprefix&gt&ltrob&gt&lt<a class="red text-decoration-none">criptomoneda</a>&gt</b>
           <br /> 
           <br /> 
           <b><a class="red text-decoration-none">bitcoin</a>, <a class="red text-decoration-none">etherum</a>, <a class="red text-decoration-none">dogecoin</a></b>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
