<div>
  <h1 class="commands-page-title row justify-content-center">MODERACIÓN</h1>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          ban
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando ban es para banear por id a un usuario de tu servidor.
          <br />
          <b
            >&ltprefix&gt&ltban&gt&lt<a class="blue text-decoration-none"
              >@mención</a
            >&gt</b
          >
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          server
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando Server te muestra la información de tu servidor
          <br />
          <b>&ltprefix&gt&ltServer&gt</b>
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          nuke
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando Nuke te limpia todo el contenido del canal
          <br />
          <b>&ltprefix&gt&ltNuke&gt</b>
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading4">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse4"
          aria-expanded="false"
          aria-controls="flush-collapse4"
        >
          clear
        </button>
      </h2>
      <div
        id="flush-collapse4"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading4"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando Clear borra una cierta cantidad de mensajes.
          <br />
          <b>&ltprefix&gt&ltClear&gt&ltcantidad&gt</b>
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading5">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse5"
          aria-expanded="false"
          aria-controls="flush-collapse5"
        >
          add-rol
        </button>
      </h2>
      <div
        id="flush-collapse5"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading5"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando Add-rol añade un rol a un usuario determinado.
          <br />
          <b
            >&ltprefix&gt&ltAdd-rol&gt&lt<a class="blue text-decoration-none"
              >@rol</a
            >&gt&lt<a class="blue text-decoration-none">@usuario</a>&gt</b
          >
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading6">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse6"
          aria-expanded="false"
          aria-controls="flush-collapse6"
        >
          set-nsfw
        </button>
      </h2>
      <div
        id="flush-collapse6"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading6"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando Set-nsfw establece el canal donde será permitido usar
          comandos nsfw.
          <br />
          <b
            >&ltprefix&gt&ltSet-nsfw&gt&lt<a class="blue text-decoration-none"
              >#canal</a
            >&gt</b
          >
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading7">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse7"
          aria-expanded="false"
          aria-controls="flush-collapse7"
        >
          dm
        </button>
      </h2>
      <div
        id="flush-collapse7"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading7"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando Dm te permite mandarle un mensaje privado a un usuario
          anonimamente
          <br />
          <b
            >&ltprefix&gt&ltDm&gt&lt<a class="blue text-decoration-none"
              >@usuario</a
            >&gt&ltmensaje&gt</b
          >
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading8">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse8"
          aria-expanded="false"
          aria-controls="flush-collapse8"
        >
          lock
        </button>
      </h2>
      <div
        id="flush-collapse8"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading8"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando lock te permite bloquear un canal para que el rol @everyone
          no pueda mandar mensajes
          <br />
          <b>&ltprefix&gt&ltLock&gt</b>
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading9">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse9"
          aria-expanded="false"
          aria-controls="flush-collapse9"
        >
          unlock
        </button>
      </h2>
      <div
        id="flush-collapse9"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading9"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando unlock te permite desbloquear un canal para que el rol
          @everyone pueda mandar mensajes
          <br />
          <b>&ltprefix&gt&ltUnlock&gt</b>
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading10">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse10"
          aria-expanded="false"
          aria-controls="flush-collapse10"
        >
          antilinks-on
        </button>
      </h2>
      <div
        id="flush-collapse10"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading10"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Al usar el comando Antilinks-on harás que cuando alguien mande un link
          se borre automaticamente,

          <br />
          <b>&ltprefix&gt&ltAntilinks-on&gt</b>
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
          <p class="small">
            (si el usuario tiene permisos de administrator el link no se
            borrará)
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading11">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse11"
          aria-expanded="false"
          aria-controls="flush-collapse11"
        >
          antilinks-off
        </button>
      </h2>
      <div
        id="flush-collapse11"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading11"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Al usar el comando Antilinks-off harás que cuando alguien mande un
          link no lo borre automaticamente
          <br />
          <b>&ltprefix&gt&ltAntilinks-on&gt</b>
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading12">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse12"
          aria-expanded="false"
          aria-controls="flush-collapse12"
        >
          slowmode
        </button>
      </h2>
      <div
        id="flush-collapse12"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading12"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Al usar el comando Slowmode estableceras cada cuanto tiempo podrán
          mandar mensajes en el canal
          <br />
          <b>&ltprefix&gt&ltSlowmode&gt&lttiempo&gt</b>
          <br />
          <a class="red text-decoration-none small"
            >Permisos Requeridos: Administrator</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
