<div>
  <h1 class="commands-page-title row justify-content-center">ROL +18</h1>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          info
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando info es para ver la información de un comando.
          <br />
          <b>&ltprefix&gt&ltinfo&gt&ltnombre del comando&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          Setbios
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando Setbio es para establecer tu biografía, las biografías son
          diferentes en cada server.
          <br />
          <b>&ltprefix&gt&ltSetbio&gt&lttu biografía&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          Youtube
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando Youtube te permite hacer búsquedas en youtube.
          <br />
          <b>&ltprefix&gt&ltYoutube&gt&ltel texto que deseas buscar&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading4">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse4"
          aria-expanded="false"
          aria-controls="flush-collapse4"
        >
          Comment
        </button>
      </h2>
      <div
        id="flush-collapse4"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading4"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando Comment te manda una imagen.
          <br />
          <b>&ltprefix&gt&ltComment&gt&lttu mensaje&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading5">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse5"
          aria-expanded="false"
          aria-controls="flush-collapse5"
        >
          Ping
        </button>
      </h2>
      <div
        id="flush-collapse5"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading5"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando Ping te muestra la latencia que hay entre el bot y tu.
          <br />
          <b>&ltprefix&gt&ltPing&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading6">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse6"
          aria-expanded="false"
          aria-controls="flush-collapse6"
        >
          Avatar
        </button>
      </h2>
      <div
        id="flush-collapse6"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading6"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando Avatar te manda el avatar de algun usuario (O el tuyo).
          <br />
          <b
            >&ltprefix&gt&ltAvatar&gt&lt<a class="blue text-decoration-none"
              >@mención</a
            >&gt</b
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading7">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse7"
          aria-expanded="false"
          aria-controls="flush-collapse7"
        >
          User
        </button>
      </h2>
      <div
        id="flush-collapse7"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading7"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          El comando User te muestra tu información (O la de otros).
          <br />
          <b
            >&ltprefix&gt&ltUser&gt&lt<a class="blue text-decoration-none"
              >@mención</a
            >&gt</b
          >
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading8">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse8"
          aria-expanded="false"
          aria-controls="flush-collapse8"
        >
          Akinator
        </button>
      </h2>
      <div
        id="flush-collapse8"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading8"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Juega al famoso juego Akinator con este comando
          <br />
          <b>&ltprefix&gt&ltAkinator&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading9">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse9"
          aria-expanded="false"
          aria-controls="flush-collapse9"
        >
          Jumbo
        </button>
      </h2>
      <div
        id="flush-collapse9"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading9"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Usa el comando Jumbo para aumentar el tamaño de un emoji del servidor
          <br />
          <b>&ltprefix&gt&ltJumbo&gt&ltemoji&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading10">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse10"
          aria-expanded="false"
          aria-controls="flush-collapse10"
        >
          Afk
        </button>
      </h2>
      <div
        id="flush-collapse10"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading10"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Al usar el comando Afk cuando alguien te mencione se le avisará que
          por el momento no estás disponible
          <br />
          <b>&ltprefix&gt&ltAfk&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading11">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse11"
          aria-expanded="false"
          aria-controls="flush-collapse11"
        >
          Anime
        </button>
      </h2>
      <div
        id="flush-collapse11"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading11"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Obten información sobre un anime con este comando
          <br />
          <b>&ltprefix&gt&ltAnime&gt&ltNombre del Anime&gt</b>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading12">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapse12"
          aria-expanded="false"
          aria-controls="flush-collapse12"
        >
          Sus
        </button>
      </h2>
      <div
        id="flush-collapse12"
        class="accordion-collapse collapse"
        aria-labelledby="flush-heading12"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Prueba a ver si tus amigos son sospechosos （⊙ｏ⊙）
          <br />
          <b
            >&ltprefix&gt&ltSus&gt&lt<a class="blue text-decoration-none"
              >@mención</a
            >&gt</b
          >
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
