<div class="txt-example txt-size-min container">
  <div class="main-container-about">
    <div class="main-container-about-text1">
      <div class="main-container-about-text">
        <h1>ABOUT</h1>
        <p>
          Kyara ofrece una gran cantidad de comandos de rol y también incluye
          comandos de rol +18. El bot no solo es capaz de cumplir funciones de
          rol sino que también puede banear a mienbros, nukear canales, borrar
          mensajes, y ofrecer información de tu servidor. Este bot está
          exclusivamente en Castellano Y En constante desarrollo. Su prefix es
          k! (Se puede cambiar). En resumen, un bot orientado a los amantes del
          anime que hará que tu comunidad mejore y sea más activa.
        </p>
        <div class="buttnos">
          <a class="btn btn-outline-dark btn-about" href="/Creditos">Creditos</a>
          <a class="btn btn-outline-dark btn-about" href="/Stats">Stats</a>
        </div>
      </div>
      <div class="main-container-about-img">
        <img src="https://i.ibb.co/pJ9L8ws/Kyara.png" class="logo logo-round" />
      </div>
    </div>
    </div>
  </div>
</div>
