<div class="txt-size-min container">
  <h1 class="commands-page-title row justify-content-center text-help">Help</h1>
  <div class="help-pay help-cuestion">
    <h1 class="h4 text-primary">COMO CONTACTO CON EL SOPORTE?</h1>
    <p>
      Para contactar con el soporte del bot, mandale un mensaje al bot que ponga
      <i><b>k!help + tu mensaje</b></i
      >, Automaticamente veremos tu mensaje y te ayudaremos en seguida, despues
      de mandar ese mensaje puedes seguir mandando mensajes y nosotros los
      reciviremos, también puedes cerrar el ticket de consulta poniendo
      <i><b>k!close</b></i> y automaticamente se cerrará el ticket
    </p>
  </div>
  <div class="help-pay help-cuestion">
    <h1 class="h4 text-primary">COMO HAGO EL PAGO?</h1>
    <p>
      Para hacer el pago tienes que ir al apartado "<b>Precios</b>"y hacer click
      en el boton <b>Premium</b>, esto te redirigirá a la pagina de paypal donde
      deberás enviar una cantidad de <b>1,99€</b> con la nota que ponga
      <i>Pago bot premium kyara, + tu id en discord</i>, y en menos de 24h se se
      te añadirá el bot premium para siempre. <br /><small
        >Si el pago se realiza diferente de como se indica aquí el dinero NO
        será devuelto</small
      >
    </p>
  </div>
  <div class="help-pay help-cuestion">
    <h1 class="h4 text-primary">COMO OBTENGO MI ID DE DISCORD?</h1>
    <p>
      Desde <b>Kyara</b> te recomendamos ver este articulo del soporte de
      Discord oficial donde lo explican con buen detalle, si sigues con dudas
      puedes <b>crear un ticket</b> y nosotros te ayudaremos con todo <br />
      <button class="btn btn-primary mt-2">
        <a
          class="text-decoration-none text-white"
          target="_blank"
          href="https://support.discord.com/hc/es/articles/206346498--D%C3%B3nde-puedo-encontrar-mi-ID-de-usuario-servidor-mensaje-"
          >Presiona aquí</a
        >
      </button>
    </p>
  </div>
</div>
