<div class="main-container-home txt-size-min">
  <div class="main-container-first-page">
    <div class="main-container-home-img">
      <img src="Images/Kyara.png" class="logo logo-round" />
    </div>
    <div class="main-container-home-text">
      <h1 class="text">Kyara</h1>
      <p class="gris-raro">Informate sobre sus comandos, configura al bot y
        disfruta</p>
      <div class="main-container-home-button d-grid gap-2 col-6">
        <a
          href="https://discord.com/oauth2/authorize?client_id=867678960687251466&scope=bot&permissions=8"
          target="_blank"
          class="btn btn-primary btn-a"
        >Add to Discord</a>
        <a
          href="https://discord.gg/8xvuVGtYEa"
          target="_blank"
          class="btn btn-dark btn-a"
        >Support Server</a>
      </div>
    </div>

  </div>
</div>