<div class="main-container-home txt-size-min">
    <div class="main-container-first-page">
      <div class="main-container-home-text">
        <h1 class="text">Precios</h1>
        <p class="gris-raro">Compra el bot premium y inmediatamente obtendrás acceso a todas las funciones premium de forma indefinida. <br> <b>El precio del bot premium es de 1.99€</b> </p>
        <div class="main-container-home-button d-grid gap-2 col-6 ">
          <a href="https://www.paypal.com/paypalme/M4RCM" target="_blank" class="btn btn-primary btn-a">Premium</a>
          <a href="/help" target="_blank" class="btn btn-dark btn-a">Como hago el pago?</a>
        </div>
      </div>
      <div class="main-container-home-img">
        <img src="https://i.ibb.co/phhK9by/Paypal.png" class="logo logo-Paypal logo-round">
      </div>
    </div> 
  </div>
  